{% extends 'booking/base.html' %}

{% block title %}Tambah bilik{% endblock %}

{% block content %}

    <br/>
    <h2>Buat Bilik Persidangan Baharu</h2>
    <p class="text-danger">{{ message }}</p>
    <form method="POST" action="#">
    {% csrf_token %}
        <label>NAMA BILIK
            <input type="text" name="name" class="form-control" required="required">
        </label><br/>
        <label>KAPASITI BILIK
            <input type="number" name="capacity" placeholder="np. 50"
                   class="form-control" required="required">
        </label><br/>
        <label>ADA PROJEKTOR:
            <input type="radio" name="projector" value="True">YA
            <input type="radio" name="projector" value="False">TIDAK
        </label><br/>
        <input class="btn btn-success" type="submit" value="CIPTA">
    </form>

{% endblock %}