{% extends 'booking/base.html' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Bilik:</td>
            <td>{{ room.name }}</td>
        </tr>
        <tr>
            <td>Tarikh sibuk:</td>
            <td>
                {% for book in reservations %}
                {{ book }}<br/>
                {% endfor %}
            </td>
        </tr>
    </table>

    <h2>Tempah tarikh anda - bilik {{ room.name }}</h2>
    <p class="text-danger">{{ message }}</p>

    <form method="post" action="#">
    {% csrf_token %}
        <label>Data:
            <input type="date" name="date" required="required">
        </label><br/>
        <label>Teguran tambahan:<br/>
            <textarea name="comment" class="form-control">kekurangan</textarea>
        </label><br/>
        <input type="submit" name="submit" value="buku" class="btn btn-success">
    </form>
    <a href="{% url 'booking:room' room.id %}">
            <button class="btn btn-warning">Kembali ke pemandangan bilik</button></a>
{% endblock %}