{% extends "booking/base.html" %}

{% block title %}Cari{% endblock %}

{% block content %}
<br/>
<h2>Bilik tersedia tepat pada masanya: {{ date }} memenuhi keperluan:</h2>
<br/>
<table class="table table-bordered table-striped">
    <thead class="lead">
        <tr>
            <th>BILIK:</th>
            <th>KAPASITI:</th>
            <th>PROJEKTOR:</th>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td><a href="{% url 'booking:room' result.id %}">{{ result.name }}</a></td>
            <td>{{ result.capacity }}</td>
            <td>
                {% if result.projector == True %}
                YA
                {% else %}
                TIDAK
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
<p class="text-danger">*Mengklik pada nama bilik akan membawa anda ke halaman tempahan</p>


{% endblock %}